.hover_border:hover {
    -fx-border-color: #00a374;
    -fx-border-width: 1px 1px 1px 5px;
    -fx-background-color: rgba(163,129,113,0.2) !important;
    -fx-cursor: hand;
}

.hover_border:focused {
    -fx-background-color: rgb(16, 73, 128) !important;
}

.label {
    -fx-font-size: 14px !important;
    -fx-font-family: "Open Sans Condensed" !important;
    -fx-text-fill: rgb(190, 188, 188);
    -fx-weight: bold;
}

.label:hover {
    -fx-text-fill: white;
}

.labelMenu {
    -fx-font-size: 16px !important;
}


.labelMenu:hover {
    -fx-text-fill: #ffffff;
}

.background {
     -fx-background-color: rgb(37,79,91);
}